@page {
    margin: 50px 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 0 35px;
}

.first_page {
    page-break-after:always;
}

header {
    position: fixed;
    top: -30px;
    width:100%;
    text-align: center;
    height: 50px;
    /*background-color: #5e5e5e;*/
    margin: 80px 0;
}

footer {
    position: fixed;
    bottom: -30px;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 100%;
    /*background-color: #5e5e5e;;*/
}

.page{
    /*background-color: #1b6d85;*/
}
.page_element {
}

img {
    width:225px;
}
.pagenum:before {
    content: counter(page);
}


p:last-child { page-break-after: never; }

.page-break-after {
    page-break-after: always;
}
.page-break-before {
    page-break-before: always;
}

.first_page {
    position: relative;
    top:40%;
}

.page h1 {
    font-size: 2.5em;
}

.first_page_employee p {
    padding-top: 80px;
}

.page .small {
    font-size: 0.8em;
}

h2.title{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

#table {
    page-break-inside: avoid;
    border-bottom: 1px solid #000;
}

#table-column-name table, th {
    width:175px;
    font-style: italic;
    font-weight: normal;
}

table td {
    width: 500px;
}

.last_row td, .last_row th {
    padding-bottom: 5px;
}

